<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="franka_robot" params="arm_id joint_limits namespace:='/' parent:='world' xyz:='0 0 0' rpy:='0 0 0' hand:=false gazebo:=false tcp_xyz:='0 0 0.1034' tcp_rpy='0 0 0'">

    <xacro:include filename="$(find ilab_franka_description)/urdf/utils.xacro" />
    <xacro:include filename="$(find ilab_franka_description)/urdf/franka_arm.xacro" />

    <xacro:franka_arm 
      arm_id="${arm_id}"
      safety_distance="0.03"
      connected_to="${parent}"
      gazebo="${gazebo}"
      xyz="${xyz}"
      rpy="${rpy}"
      joint_limits="${joint_limits}"
    />

    <xacro:if value="${hand}">
      <xacro:include filename="$(find ilab_franka_description)/urdf/franka_hand.xacro"/>
      <xacro:franka_hand
          arm_id="${arm_id}"
          rpy="0 0 ${-pi/4}"
          tcp_xyz="${tcp_xyz}"
          tcp_rpy="${tcp_rpy}"
          connected_to="${arm_id}_link8"
          safety_distance="0.03"
          gazebo="${gazebo}"
       />
    </xacro:if>

    <!-- Define additional Gazebo tags -->
    <xacro:if value="${gazebo}">
      <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
          <parameters>$(find ilab_franka_description)/ros2_control/ros2_controllers.yaml</parameters>
          <xacro:if value="${namespace != '/'}">
            <ros>
              <namespace>${namespace[:-1]}</namespace>
              <remapping>${namespace}joint_states:=${namespace}franka_arm/joint_states</remapping>
            </ros>
            <robot_param_node>${namespace}robot_state_publisher</robot_param_node>
          </xacro:if>

          <xacro:unless value="${namespace != '/'}">
            <ros>
              <remapping>/joint_states:=/franka_arm/joint_states</remapping>
            </ros>
            <robot_param_node>/robot_state_publisher</robot_param_node>
          </xacro:unless>
   
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>
</robot>