<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hand">
  <xacro:include filename="$(find ilab_franka_description)/urdf/utils.xacro" />
  <xacro:include filename="franka_hand.xacro"/>
  <xacro:franka_hand arm_id="franka" safety_distance="0.03"/>
</robot>